<?xml version="1.0" encoding="utf-8" ?>
<Settings>
    <Logging>
        <Path>SvnCommitToFTP.log</Path>
    </Logging>
    <FTP>
        <Host>195.122.134.223</Host>
        <User>765366</User>
        <Password>the7daytheory</Password>
        <RemotePath>/warhead/Mods/Remod/</RemotePath>
    </FTP>
</Settings>